<form action="">
    <h2>Add Commodity</h2>
    ParentCategory<select name=""  class="form-control">
        <option value="">Car</option>
    </select>
            Product<input type="text" class="form-control">
            Quantity<input type="text" class="form-control">
            Price<input type="text" class="form-control">
            Description<textarea class="form-control"></textarea>
            Image<input type="file">
            <button class="btn">Submit</button>

</form>