<div class="home">
    <div class="sidebar" role="cdb-sidebar" color="pink">
        <ul>
            <li class="side"><a href="/admin/addCategory">Category</a>
            </li>
            <li class="side"><a href="admin/addSubcategory">Subcategory</a>
            </li>
            <li class="side"><a href="/admin/addCommodity">Commodity</a>
            </li>
        </ul>
    </div>
    {{!-- <div class="content">
        <marquee behavior="" direction="top" class="marquee"
            style="font-size: 50px;animation: blinker 1.5s linear infinite;"> welcome to fashion world</marquee>

    </div> --}}
</div>