<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="" style="color: rgb(182, 31, 31);text-shadow: 4px 4px 4px rgb(219, 18, 18);"><strong>Fashion World </strong> </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="">Home</a></li>
                <li class="nav-item"><a class="nav-link active" href="">About</a></li>
                <li class="nav-item"><a class="nav-link active" href="">Features</a></li>
                <li class="nav-item"><a class="nav-link active" href="">Pricing</a></li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search ">
                <a href="" class="btn btn-warning">Logout</a>
                <a href="" class="btn btn-warning" style="margin-right: 10px;">Signup</a>
                <a href="" class="btn btn-warning" style="margin-right:10px;">Login</a>
            </form>
        </div>

    </div>
</nav>




