<h1>Edit Subcategory</h1>
<form action="" method="post" class="container">
    {{!-- Category <h1></h1> --}}
    Category
        <h5>{{categoryDb.Catname}}</h5>

    Subcategory <input type="text" name="UsubCategory" value="{{subCatDb.subCategory}}" class="form-control">
    <button type="submit" class="btn btn-primary">submit</button>
</form>