<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/commodity/{{cart.image}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{cart.product}}</h5>
    <p class="card-text">{{cart.description}}</p>
    <p class="card-text">Rs.{{cart.price}}</p>

    <a href="/user/cart" ><button type="submit" class="btn btn-primary">Buy Now</button></a>
    
  </div>
</div>  

