<div class="content">
        <marquee behavior="" direction="top" class="marquee"
            style="font-size: 50px;animation: blinker 1.5s linear infinite;"> welcome to fashion world</marquee>

    </div>