

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            Login
          </div>
          <div class="card-body">
            <form action="" method="post">
              <div class="form-group">
                Email
                <input type="text" class="form-control" name="LogEmail" placeholder="Enter your email">
              </div>
              <div class="form-group">
                Password
                <input type="password" class="form-control" name="LogPassword" placeholder="Password">
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="rememberMe">
                <label class="form-check-label" for="rememberMe">Remember me</label>
              </div>
              <button type="submit" class="btn btn-primary">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
 
